<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <services>
      <service name="ToolingService.ToolingService" behaviorConfiguration="MetadataBehavior">
        <host>
          <baseAddresses>
            <add baseAddress="net.pipe://localhost/Forgotten"/>
          </baseAddresses>
        </host>
        <endpoint address="MetricsPublish" binding="netNamedPipeBinding" contract="ToolingService.IMetricsPublishService"/>
        <endpoint address="MetricsSubscribe" binding="netNamedPipeBinding" contract="ToolingService.IMetricsSubscribeService"/>
        <endpoint address="mex" binding="mexNamedPipeBinding" contract="IMetadataExchange"/>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="MetadataBehavior">
          <serviceMetadata/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>
